.welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  &__info {
    width: 60%;

    &-title {
      font-size: 2.5rem;

      &-name {
        color: #e0234e;
        display: inline;
        // font-size: ;
      }
    }

    &-description {
      font-size: 1.1rem;
    }
  }

  &__photo {
    width: 20%;
    &.wrapper {
      width: 14rem;
      border-radius: 50%;
    }

    &-img {
      width: 100%;
      object-fit: contain;
      border-radius: 50%;
    }
  }
}
