.about {
  min-height: 600px;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem 0;
  &__list {
    display: flex;

    &-item {
      margin: 10px;
      border-bottom: 2px solid transparent;
      font-weight: 600;

      &:hover {
        border-bottom: 2px solid #fff;
        cursor: pointer;
        transition: border-bottom 0.3s ease-in;
      }

      &.active {
        border-color: #e0234e;
      }
    }
  }
}
